body{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: 80px auto;
    /*position: relative;*/
}
/*styling sidebar*/
.sidebar{
    background-color: rgb(20, 20, 68);
    height:100%;
    
}
.menu{
    padding-top: 200px;
    position: fixed;
    color: white;
    font-size: 30px;
}

.menuitem{
    padding-top: 40px;
    padding-left: 30px;
}
/*styling main*/
.main{
    background-color: white;
}
.user{
    background-color: white;
    height: 50px;
    padding-top: 15px;
    padding-left: 1200px;
    color: gray;
    font-size: 28px;

}
.orgimg{
    height:150px;
    background-image: url('../image/bg.png');
    padding-top: 0px;
    color: black;
    font-size: 35px;
    font-weight: bold;
    padding-left: 50px;
    padding-top: 50px;
}
.dor{
    height: 40px;
    background-color: white;


}
.dorlist{
    padding-left: 250px;
}
ul{
    list-style-type: none;
    padding-right: 60px;
}
li{
    display: inline;
    float: left;
    float: center;
    border-right:1px solid rgb(56, 56, 133);
    padding:15px;
    padding-left: 15px;
    height:10px;
}
a{
    text-decoration: none; 
    color: rgb(56, 56, 133);
    font-size: 15px;
    font-weight: bold;
    
}
.requestcont{
   display: grid;
   grid-template-columns: auto 300px;
   padding:10px;
   background-color: rgb(20, 20, 68);
   margin-left: 30px;
   margin-right: 30px;
   margin-top: 10px;
   height: 30px;
}
.request{
    color: white;
}
.vbutton{
 float: left;
 background-color: orange;
 color: white;
 height: 30px;
 border-style: none;
 font-size: 10px;
 padding-right: 10px;
}
.cbutton{
    float:right; 
    background-color: yellowgreen;
    color: white;
    height: 30px;
    border-style: none;
    font-size: 10px;
}
table{
    padding:30px;
    border-spacing: 10px;
    color: rgb(20, 20, 68);
    width: 100%;
}

footer{
    padding-left: 500px;
    bottom: 0;
}

table td {
    background: red;
    padding: 10px;
    text-align: left;
    color: white;
    

}
table th {
    background: gray;
    color: white;
}



